.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  width: 500px !important;
}

.css-wb57ya-MuiFormControl-root-MuiTextField-root {
  margin-top: 15px !important;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root {
  margin-top: 15px !important;
  width: 100%;
}
